*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

.link{
    color: #00df89;
}

.link:hover{
    height: 40px;

    background-color: #00df89;
    color: blueviolet;
}


.link:hover > a{
    color: rgb(255, 0, 0);
}